section#image{
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;
}
div#banner_top1, div#banner_bottom{
    height: 50vh;
}
div#banner_top1{background-color: #ecf0f1;}
div#banner_bottom{background-color: #efa53d;}
div#baner_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img#baner_title{
    width: 300px;
    text-align: center;
    color: white;
    text-shadow: black;
}
section#form{
    width: 49%;
    height: 100vh;
    float: left;
    margin-left: 1%;
}
#date-sex{
    width: 100%;
    border: none;
    padding: 0%;
}
#content_date,#content_sex{
    width: 50%;
    float: left;
    border: none;
    padding: 0%;
}
#personal_data{
    width: 50%;
    float: left;
    padding-bottom: 0%;
}
#typebeer_data{
    width: 34%;
    float: left;
    padding-bottom: 0%; 
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
#send_button{
    background-color: #efa53d;
    border: none;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 2px;
    margin-left: 15%;
    margin-right: 10%;
}
