/* For all */
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
}

/* Tags */
nav{
    width: 50%;
    height: 40px;
    margin-top: 10px;
    float: right;
    padding-top: 10px;
    background-color: #ecf0f1;
}
footer{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
    background: linear-gradient(#ffffff, #efa53d);
}
details{
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

/* Classs and ID*/
.footer_title{
    text-align: center;
    color: black;
    text-shadow: white;
}
#footer_subtitle{
    text-align: right;
    color: black;
    text-shadow: white;
    font-size: 100%;
}
#container_footer{
    width: 90%;
    margin-right: 5%;
    margin-left:  5%;
}
#contact_us{
    text-align: right;
    font-size: 70%;
}

/* TAG#ID and TAG.Class*/
header#general_header{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2;
    background-color: #ecf0f1;
}
img#general_header_title{
    float: left;
    width: 15%;
    margin-left: 1%;
}
a.nav_bar{
    text-decoration: none;
    color: black;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20px;
    display: inline-block;
    margin: auto;
    font-size: 16px;
}
a.link_nav{
    text-decoration: none;
    text-align: right;
    color: black;
    padding-bottom: 2%;
    display: inline-block;
    margin: auto;
}
div#banner_top{
    background-color: #ecf0f1;
    height: 60px;
}
div.content_title_footer{
    width: 44%;
    height: 20vh;
    margin-right: 1%;
    margin-left: 1%;
    float: right;
}
div.content_info_footer{
    width: 25%;
    height: 20vh;
    margin-right: 1%;
    margin-left: 1%;
    float: right;
}
div.horizontal_delimiter{
    background-color: rgb(121, 118, 118);
    margin-right: 0.4%;
    margin-left: 0.4%;
    margin-top: 2%;
    height: 1px;
    width: 99%;
    float: center;
}
div.horizontal_delimiter_top{
    background-color: rgb(121, 118, 118);
    height: 1px;
    width: 84%;
    float: right;
}
div.clear{
    clear: both;
}

details li a{
    color: black;
}